<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Build your new PC with the appropriate parts</title>
    <link href="./public/stylesheets/style.css" rel="stylesheet">
    <script src="./routes/index.js" defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"
      integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <header>
      <nav>
      </nav>
    </header>
    <main>
    </main>
    <footer>Created in January 2025 by <a href="https://github.com/ayoub-ld">Ayoub</a> &copy;
    </footer>
  </body>
</html>
